* {
    margin: 0;
    padding: 0;
}

output-pane {
    outline: none;
    font-size: 12px;
}

output-pane:hover .nav-controls {
    display: flex;
}

output-pane .dump-container-wrapper {
    padding: 0.25rem;
    line-height: 1;
    overflow-x: auto;
    flex-grow: 1;
    /* * CSS for generated HTML */
}

output-pane .dump-container-wrapper:focus {
    outline: none;
}

output-pane .dump-container-wrapper.text-wrap {
    overflow-wrap: break-word;
}

output-pane .dump-container-wrapper hr {
    color: dodgerblue;
    margin: 0 0 10px;
}

output-pane .dump-container-wrapper .null {
    color: #797e81;
}

output-pane .dump-container-wrapper .cyclic-reference {
    font-style: italic;
    font-size: 12px;
    color: red;
}

output-pane .dump-container-wrapper .max-depth-reached {
    font-style: italic;
    font-size: 12px;
    color: orange;
}

output-pane .dump-container-wrapper .empty-collection {
    color: white;
    background-color: #2e79a2;
    padding: 0.25rem 0.2rem;
    display: inline-block;
}

output-pane .dump-container-wrapper .group {
    padding: 0.25rem;
    border-left: 2px transparent solid;
}

output-pane .dump-container-wrapper .group self.text:not(.raw, .error, .code) {
    padding-top: 0;
}

output-pane .dump-container-wrapper .group.raw {
    padding: 1rem 0.75rem;
    background: #000;
    border-left: #949494 2px dashed;
}

output-pane .dump-container-wrapper .group.raw:hover {
    background: #000;
}

output-pane .dump-container-wrapper .group.error {
    padding: 1.25rem 0.75rem;
    color: red;
    background: rgba(0, 0, 0, );
    border-left: red 2px solid;
}

output-pane .dump-container-wrapper .group.error:hover {
    background: rgba(0, 0, 0, );
}

output-pane .dump-container-wrapper .group.code pre {
    margin: 0;
    font-size: inherit;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

output-pane .dump-container-wrapper .group.image,
output-pane .dump-container-wrapper .group.video,
output-pane .dump-container-wrapper .group.audio {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

output-pane .dump-container-wrapper .group.image:hover,
output-pane .dump-container-wrapper .group.video:hover,
output-pane .dump-container-wrapper .group.audio:hover {
    background: #000;
}

output-pane .dump-container-wrapper .group.audio audio {
    width: 35%;
}

output-pane .dump-container-wrapper .group.titled {
    border-left: 2px #ffa500 solid;
    border-color: #ffa500;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

output-pane .dump-container-wrapper .group.titled.collapsed .title {
    border-bottom: 2px greenyellow dotted;
}

output-pane .dump-container-wrapper .group.titled.collapsed :not(.title) {
    display: none;
}

output-pane .dump-container-wrapper .title {
    width: fit-content;
    padding-right: 8px;
    padding-bottom: 1px;
    border-bottom: 2px dodgerblue dotted;
}

output-pane .dump-container-wrapper table {
    width: initial;
    margin: 5px 0;
    padding: 0;
    border: 1px solid #3da3da;
    border-color: #3da3da;
    color: inherit;
}

output-pane .dump-container-wrapper table.collapsed>tbody,
output-pane .dump-container-wrapper table.collapsed>thead>.table-data-header {
    display: none;
}

output-pane .dump-container-wrapper table table {
    margin: 0;
}

output-pane .dump-container-wrapper table th {
    font-weight: 600;
    line-height: 1;
    padding: 3px 5px;
    color: white;
    background-color: #525252;
}

output-pane .dump-container-wrapper table th a {
    color: white;
}

output-pane .dump-container-wrapper table thead th {
    white-space: nowrap;
}

output-pane .dump-container-wrapper table .table-info-header>th {
    background-color: #2e79a2;
    border-color: #2e79a2;
    border-top-width: 1px;
}

output-pane .dump-container-wrapper table .table-data-header {
    position: sticky !important;
    top: -3px;
}

output-pane .dump-container-wrapper table .table-info-header+.table-data-header {
    top: -4px;
}

output-pane .dump-container-wrapper table td>table {
    margin: 3px !important;
}

output-pane .dump-container-wrapper table tbody td {
    overflow-wrap: break-word;
}

output-pane .dump-container-wrapper table tbody {
    border-top-width: 0;
}

output-pane .dump-container-wrapper table .property-name {
    font-weight: 600;
}

output-pane .dump-container-wrapper table .collapse-actionable {
    cursor: pointer;
}

output-pane .dump-container {
    min-height: 100%;
}

.theme-netpad-light output-view table.table tr:not(.table-info-header) th {
    color: black;
    background-color: #dcdcdc;
}